<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Access insertin page</h1>
        <form method="POST" action="">
            {% csrf_token %}
            <label for="ne">Name</label>
            <select name="ne" id="ne">
                {% for i in name %}
                <option value='{{ i }}' >{{i.Name}}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <label for="au">Author</label>
            <input type="text" name="au" id="au">
            <br>
            <br>
            <label for="da">Date</label>
            <input type="date" name="da" id="da">
            <br>
            <br>
            <input type="submit" value="accesspage" >
        </form>
    </center>
</body>
</html>