<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is a webpage applys dates </h1>
        <table border="2px">
            <tr>
                <th>Topic_name</th>
                <th>Name</th>
                <th>Url</th>
            </tr>
            {% for i in topic %}
            <tr>
                <td>{{i.Topic_name}}</td>
                <td>{{i.Name}}</td>
                <td>{{i.Url}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>