
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is a web page form</h1>
        <form method="POST" action="">
            {% csrf_token %}
            <label for="tn">Topic_name</label>
            <select name="tn" id="tn">
                {% for i in topic %}
                <option value='{{ i }}' >{{i.Topic_name}}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <label for="ne">Name</label>
            <input type="text" name="ne" id="ne">
            <br>
            <br>
            <label for="ur">URL</label>
            <input type="url" name="ur" id="ur">
            <br>
            <br>
            <input type="submit" value="webpage" >
        </form>
    </center>
</body>
</html>